<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1>Hello World!</h1>
    <%= link_to "Sign Up", new_registration_registration_path, class: "btn btn-primary" %>
  </div>
</div>
